@font-face
{
	font-family: 'Quicksand-Regular';
	src: url('Quicksand-Regular.otf');
}
body
{
	    background-image: linear-gradient(to right, #000046 ,#1CB5E0);


}
#sametyp
{
    font-family: 'Quicksand-Regular';
	    margin-left: 18px;
    padding: 7px;
    margin-right: 43px;
}
.forum
{
	margin-left: -172px;
    margin-top: -118px;
    position: absolute;
    font-family: 'Quicksand-Regular';
    border: 1px solid #535353;
    top: 45%;
    left: 50%;
    background-image: linear-gradient(to right, #000046 ,#1CB5E0);
    padding-left: 17px;
    padding-top: 85px;
    padding-right: 64px;
}
input
{
    font-family: 'Quicksand-Regular';
    margin-bottom: 31px;
    padding-right: -50px;
    padding: 8px;
    padding-right: 89px;
    border: 1px solid #4b5ea1;
    border-radius: 3px;
}
div
{
	    height: 56px;
    z-index: 1;
    font-family: 'Quicksand-Regular';
    position: absolute;
    width: 100%;
    background-color: #000;
    margin-left: -8px;
    top: 0px;
}
button
{
    background-color: #dceff5;
    border: none;
        position: absolute;
    left: 42px;
    z-index: 10;
    padding-right: 30px;
    padding-left: 30px;
    top: 218px;
    border-radius: 2px;
    padding: 12px;
    margin-left: 66px;
    margin-bottom: 13px;
    color: black;
    font-family: 'Quicksand-Regular';
    font-weight: 600;
}
#uni
{
	height: 625px;
    position: absolute;
    top: 57px;
    font-family: 'Quicksand-Regular';
    left: 12%;
}
#sp
{

	margin-top: -3px;
    color: white;
    font-size: 43px;
    position: absolute;
    top: 24px;
    font-family: 'Quicksand-Regular';
    background-color: #131313;
    display: block;
    margin-left: -17px;
    margin-top: -24px;
   
}
p 
{
   position: absolute;
    z-index: 2;
    font-family: 'Quicksand-Regular';
    margin-left: 90px;
    margin-top: -24px;
    color: white;
}